<launch>
    <!-- Map update frequency([s]) -->
    <arg name="map_update_frequency" default="1.0"/>
    <!-- Distance between candidate viewpoints ([m]) -->
    <arg name="distance_between_candidates" default="0.5"/>
    <!-- Candidate orientation resolution ([deg]) -->
    <arg name="candidate_yaw_resolution" default="60.0"/>
    <!-- Candidate tilt resolution ([rad]) -->
    <arg name="candidate_tilt_resolution" default="0.3"/>
    <!-- Candidate tilt min ([rad]) -->
    <arg name="candidate_tilt_min" default="-0.3"/>
    <!-- Candidate tilt max ([rad]) -->
    <arg name="candidate_tilt_max" default="0.6"/>
    <!-- Size to expand Costmap [m] -->
    <arg name="distance_obstacle_candidate" default="0.4"/>
    <!-- Minimum Frontier length ([m]) -->
    <arg name="min_frontier_length" default="0.3"/>
    <!--  Minimum of robot head position([m]) -->
    <arg name="robot_head_pos_min" default="1.00"/>
    <!--  Maximum of robot head position([m]) -->
    <arg name="robot_head_pos_max" default="1.00"/>
    <!--  Resolution of viewpoint candidates in the height direction -->
    <arg name="robot_head_candidate_resolution" default="0.2"/>
    <!-- Timeout time when stopped by some processing[s] -->
    <arg name="timeout" default="10.0"/>
    <!-- Display time when visualizing the viewpoint candidate (it will not disappear if set to 0)-->
    <arg name="candidate_marker_lifetime" default="5.0"/>
    <!-- Robot odom topic name -->
    <arg name="odom_topic" default="/hsrb/odom"/>
    <!-- Size of free space removed as noise by the opening process[m]-->
    <arg name="max_free_space_noize_size" default="0.1"/>
    <!-- tolerance in make_plan of move_base -->
    <arg name="path_planning_tolerance" default="0.3"/>
    <!-- Maximum sensor range (distance) [m] -->
    <arg name="sensor_max_range" default="3.5"/>
    <!-- Horizontal sensor viewing angle [deg] -->
    <arg name="sensor_horizontal_range" default="50.0"/>
    <!-- Vertical sensor viewing angle [deg] -->
    <arg name="sensor_vertical_range" default="35.0"/>
    <!-- Horizontal resolution of raycast -->
    <arg name="raycast_horizontal_resolution" default="5.0"/>
    <!-- Vertical resolution of raycast -->
    <arg name="raycast_vertical_resolution" default="5.0"/>
    <!-- Robot movement speed[m] (HSRB default speed: 0.2[m]) -->
    <arg name="robot_movement_speed" default="0.2"/>
    <!-- Offset when calculating gain(Usually the time taken for perspective planning[sec]) -->
    <arg name="offset_gain" default="2.0"/>
    <!-- This parameter is related to the distance to move when calculating the NBV. If this parameter is set to 0, the movement distance is ignored.-->
    <arg name="lamda" default="0.2"/>
    <!-- Maximum height when raycasting -->
    <arg name="max_raycast_height" default="3.5"/>
    <!-- Minimum height for ray casting -->
    <arg name="min_raycast_height" default="0.0"/>
    <!-- ROS service server that generates viewpoint candidates -->
    <node name="generating_candidates" pkg="viewpoint_planner_3d" type="generating_candidates" output="screen">
        <param name="odom_topic" value="$(arg odom_topic)" type="str"/>
        <param name="map_update_frequency" value="$(arg map_update_frequency)" type="double"/>
        <param name="distance_between_candidates" value="$(arg distance_between_candidates)" type="double"/>
        <param name="candidate_yaw_resolution" value="$(arg candidate_yaw_resolution)" type="double"/>
        <param name="distance_obstacle_candidate" value="$(arg distance_obstacle_candidate)" type="double"/>
        <param name="min_frontier_length" value="$(arg min_frontier_length)" type="double"/>
        <param name="robot_head_pos_min" value="$(arg robot_head_pos_min)" type="double"/>
        <param name="robot_head_pos_max" value="$(arg robot_head_pos_max)" type="double"/>
        <param name="timeout" value="$(arg timeout)" type="double"/>
        <param name="robot_head_candidate_resolution" value="$(arg robot_head_candidate_resolution)" type="double"/>
        <param name="max_free_space_noize_size" value="$(arg max_free_space_noize_size)" type="double"/>
        <param name="candidate_tilt_resolution" value="$(arg candidate_tilt_resolution)" type="double"/>
        <param name="candidate_tilt_min" value="$(arg candidate_tilt_min)" type="double"/>
        <param name="candidate_tilt_max" value="$(arg candidate_tilt_max)" type="double"/>
    </node>
    <!-- ROS service server that calculates next viewpoint -->
    <node name="viewpoint_evaluator" pkg="viewpoint_planner_3d" type="viewpoint_evaluator" output="screen">
        <param name="timeout" value="$(arg timeout)" type="double"/>
        <param name="odom_topic" value="$(arg odom_topic)" type="str"/>
        <param name="candidate_marker_lifetime" value="$(arg candidate_marker_lifetime)" type="double"/>
        <param name="sensor_max_range" value="$(arg sensor_max_range)" type="double"/>
        <param name="sensor_horizontal_range" value="$(arg sensor_horizontal_range)" type="double"/>
        <param name="sensor_vertical_range" value="$(arg sensor_vertical_range)" type="double"/>
        <param name="raycast_horizontal_resolution" value="$(arg raycast_horizontal_resolution)" type="double"/>
        <param name="raycast_vertical_resolution" value="$(arg raycast_vertical_resolution)" type="double"/>
        <param name="robot_movement_speed" value="$(arg robot_movement_speed)" type="double"/>
        <param name="offset_gain" value="$(arg offset_gain)" type="double"/>
        <param name="max_raycast_height" value="$(arg max_raycast_height)"/>
        <param name="min_raycast_height" default="$(arg min_raycast_height)"/>
    </node>
    <!-- Service server used when calculating the distance to a viewpoint candidate -->
    <node name="viewpoint_planner_3d" pkg="viewpoint_planner_3d" type="dijkstra_server_node.py" output="screen"/>
</launch>