<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="use_gazebo" default="true"/>
    <arg name="use_flexbe" default="false"/>
    <arg name="use_darknet" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="candidate_marker_lifetime" default="5.0"/>
    <!-- gazebo -->
    <group if="$(arg use_gazebo)">
        <include file="$(find hsr_object_search_world)/launch/sdewg_gazebo_default.launch">
            <arg name="gui" value="$(arg gui)"/>
        </include>
    </group>
    <include file="$(find hsr_launch)/launch/hsr_search.launch">
        <arg name="use_flexbe" value="$(arg use_flexbe)"/>
        <arg name="use_darknet" value="$(arg use_darknet)"/>
        <arg name="candidate_marker_lifetime" value="$(arg candidate_marker_lifetime)"/>
    </include>
</launch>
