<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Simulation type: unattended or not. -->
    <arg name="unattended" default="false"/>
    <arg name="world_name" default="$(find tmc_gazebo_worlds)/worlds/mock_home.world"/>
    <arg name="gui" default="true"/>
    <!-- Attended simulation case. -->
    <group unless="$(arg unattended)">
        <!-- Gazebo launch file. -->
        <include file="$(find hsr_launch)/launch/hsrb_mock_home_world.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="debug" default="false"/>
            <arg name="fast_physics" default="true"/>
            <arg name="gazebo_visualization" default="false"/>
            <arg name="gui" value="$(arg gui)"/>
            <arg name="paused" default="false"/>
            <arg name="rviz" default="false"/>
            <arg name="use_laser_odom" default="true"/>
            <arg name="use_manipulation" default="true"/>
            <arg name="use_navigation" default="true"/>
            <arg name="use_perception" default="true"/>
            <arg name="use_task" default="true"/>
            <arg name="use_teleop" default="false"/>
            <arg name="use_web" default="false"/>
        </include>
    </group>
    <!-- Unattended simulation case. -->
    <group if="$(arg unattended)">
        <!-- Gazebo launch file. -->
        <include file="$(find hsr_launch)/launch/hsrb_mock_home_world.launch">
            <arg name="world_name" value="$(arg world_name)"/>
            <arg name="debug" default="false"/>
            <arg name="fast_physics" default="true"/>
            <arg name="gazebo_visualization" default="false"/>
            <arg name="gui" default="false"/>
            <arg name="paused" default="false"/>
            <arg name="rviz" default="false"/>
            <arg name="use_laser_odom" default="true"/>
            <arg name="use_manipulation" default="true"/>
            <arg name="use_navigation" default="true"/>
            <arg name="use_perception" default="true"/>
            <arg name="use_task" default="true"/>
            <arg name="use_teleop" default="false"/>
            <arg name="use_web" default="false"/>
        </include>
        <!-- FlexBE launch file. -->
        <!-- http://wiki.ros.org/flexbe/Tutorials/Running%20Behaviors%20Without%20Operator -->
        <arg name="behavior_name" default="HSR Move Base Around"/>
        <include file="$(find flexbe_onboard)/launch/behavior_onboard.launch"/>
        <node name="behavior_launcher" pkg="flexbe_widget" type="be_launcher" output="screen" args="-b '$(arg behavior_name)'"/>
    </group>
</launch>
